#cim {
    margin-left: 48%;
    margin-right: 45%;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(https://locations.kfc.com/permanent-b0b701/assets/images/kfc-hero.ed57ffa2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

* {
    margin-left: 0;
    padding: 0;
    font-family: sans-serif;
}

.elso-sor-kepek {
    margin-top: 10%;
    height: 200px;
    width: 260px;
    margin: 4.7%;
    margin-top: 10%;
    border-radius: 40px;
    border: 10px solid grey;
    cursor: pointer;
}

.masodik-sor-kepek1 {
    margin-top: 10%;
    height: 200px;
    width: 280px;
    margin-left: 26.9%;
    margin-top: 10%;
    border-radius: 40px;
    border: 10px solid grey;
    cursor: pointer;
}

.masodik-sor-kepek2 {
    margin-top: 10%;
    height: 200px;
    width: 280px;
    margin-left: 8.6%;
    border-radius: 40px;
    border: 10px solid grey;
    cursor: pointer;
}

img:hover {
    border: 10px solid darkturquoise;
}

#gif {
    border: 0 solid #000;
}