#cim {
    margin-left: 48%;
    margin-right: 45%;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(Zz0zZTliMjQ4MzhlNGExMWViYmJiMjFiZTI2ZWNmN2MzZA==.jfif);
    background-size: 150%;
    background-repeat: no-repeat;
}

.gomb_kinezet {
    letter-spacing: 5px;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
    font-family: Verdana;
    border-color: lightskyblue;
}